body {
	background-color: #F9DDD6;
}

/* corresponds to the div class 'content' and applies columns to the contents of the div */
.content {
	column-count: 2;
	column-gap: 20px;
	column-rule: 1px solid gray;
	column-width: 350px;
}

/* tells h1 to ignore the column formatting given above */
h1 {
	column-span: all;
}